**XGBoost on Boston House Prices dataset**

In [1]:
# Install xgboost
!pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.18.5)

In [3]:
# Import required libraries
import pandas as pd
import xgboost as xgb
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [8]:
# Load dataset
boston_data = load_boston()
x = pd.DataFrame(boston_data.data, columns=boston_data.feature_names)
y = pd.Series(boston_data.target)

In [9]:
x.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [10]:
# Split the dataset in test and train
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [14]:
# XGBoost
xgb = xgb.XGBRegressor(
    n_estimators=100,
    reg_lambda=1,
    gamma=0,
    max_depth=4
)

In [15]:
xgb.fit(x_train, y_train)

[08:15:16] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=4, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [16]:
# Storing the data in pandas dataframe
pd.DataFrame(xgb.feature_importances_.reshape(1, -1), columns=boston_data.feature_names)

       CRIM        ZN     INDUS  ...   PTRATIO         B     LSTAT
0  0.028407  0.001708  0.012662  ...  0.033597  0.012666  0.609586

[1 rows x 13 columns]

In [18]:
# Make prediction
y_pred = xgb.predict(x_test)

In [19]:
# Evaluate model performance
mean_squared_error(y_test, y_pred)

9.080576295028367

In [20]:
# Pediction
y_pred

array([10.719856 , 23.659601 , 50.18861  , 47.79856  , 10.019455 ,
       23.63834  , 45.850666 , 15.369024 , 41.926105 , 16.050636 ,
       26.844044 , 28.175762 , 40.50802  , 18.30939  , 24.819021 ,
       34.49255  , 27.671404 , 28.061335 , 19.14092  , 44.589344 ,
       17.828545 , 20.248236 , 26.872179 , 14.290301 , 27.588192 ,
       14.254459 , 18.446114 , 22.452858 , 30.614725 , 27.840475 ,
       23.157898 , 36.092495 , 17.29833  , 20.014936 , 10.456594 ,
       21.87909  ,  7.8455586, 37.934673 , 49.040165 , 15.357245 ,
       22.60337  , 14.412556 , 28.147285 , 16.030157 , 18.840662 ,
       20.747032 , 25.300528 , 25.684196 , 27.677504 , 21.526796 ,
       26.04572  , 22.893372 , 20.571255 , 11.489342 , 11.143738 ,
       19.78933  , 22.205412 , 24.615967 , 20.756098 , 26.23668  ,
       20.488577 , 21.087543 , 19.839767 , 20.939758 , 19.53913  ,
       20.349773 , 20.371708 , 24.70584  , 37.119083 , 22.973455 ,
       34.919327 , 23.370878 , 32.85615  , 11.957798 , 11.251069 ,
       21.01231  , 14.58877  , 17.39336  ,  8.701477 , 20.700739 ,
       13.5332575, 13.166614 , 24.389427 , 11.923141 , 32.986835 ,
       13.130752 , 22.65107  , 22.811115 , 21.353884 , 34.013367 ,
       19.359314 , 20.977793 , 23.646307 , 12.993145 , 21.005327 ,
       18.354776 , 15.126852 , 23.839556 , 20.199133 , 20.689373 ,
       21.27647  , 25.941133 , 19.512672 , 32.523884 , 22.94835  ,
       27.118586 , 14.202788 , 38.602863 , 16.325699 , 15.309723 ,
        7.639867 , 30.469255 , 37.082462 , 24.743896 , 48.350082 ,
       12.553144 , 44.657852 , 12.288878 , 13.818026 , 22.864874 ,
       17.575974 , 24.021862 ,  6.000982 , 48.703423 , 23.589792 ,
       21.048159 , 36.14398  ], dtype=float32)